*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

.contenedor{
    padding: 25px 0;
    max-width: 1500px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #050505;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans';
}

header{
    width: 100%;
    height: 400px;
     
    background: #1a2a6c;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    


    background-attachment: fixed;
    position: relative;
}

.Ola{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .inicio-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inicio-header h1{
    font-size: 70px;
    color: #fff;
}

.contenedor-acerca-de{
    display: flex;
    justify-content: space-evenly;
    font-family: arial;
    font-size: 17px;
    text-align: justify;
}

.contenedor-acerca-de h4{
    font-weight: 30px;
    font-size: 20px;
    margin-top: auto;
}

.imagen-codigo{
    width: 45%;
    height: 400px;
    padding: 50px;
    margin-top: 20px;
}

.contenedor-historia{
    font-size: 17px;
    font-family: arial;
    display: flex;
    text-align: justify;
}

.contenedor-historia h4{
    font-weight: 30px;
    font-size: 20px;
    margin-top: auto;
}

.imagen-historia{
    width: 70%;
    padding: 50px;
}

.contenedor-funcion{
    font-size: 17px;
    font-family: arial;
    display: flex;
    text-align: justify;
    display: flex;
}

.contenedor-funcion h4{
    font-weight: 30px;
    font-size: 20px;
    margin-top: 15px;
}

.contenedor-funcion ul li span{
    font-weight: 30px;
    color: #8203bd;
    font-family:    'Lucida Sans';
}

.imagen-gitsito{
    width: 50%;
    padding: 30px;
    height: 500px;
}

.contenedor-comandos{
    font-size: 17px;
    font-family: arial;
    display: flex;
    text-align: justify;
    display: flex;
    padding: 0;
}

.contenedor-comandos h4{
    font-weight: 30px;
    font-size: 20px;
    margin-top: 0px;
}

.contenedor-comandos ul li span{
    font-weight: 40px;
    color: #8203bd;
    font-family:    'Lucida Sans';
}

.imagen-command{
    width: 55%;
    padding: 35px;
    height: 300px;
}

.imagen-command2{
    width: 50%;
    padding: 40px;
    height: 630px;
}